<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">

<header>
   <h1>Matrix Visualization Tutorials</h1>
</header>
  
<!--article>
  <h1>London</h1>
  <p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
  <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
</article-->

<div id = "viewpanel" >
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://d3js.org/d3.v4.min.js"></script>
	
		
	
	<div id = "viz1" class='vizContainer' >
		<h1 id = "problem">Step: ({{ session['current'] + 1}} out of 5)</h1>
		
		
		
			
			
			<br>
			<br>
			<!--input id = 'clickdata' name='clickdata' value='0' style="display:none"-->
			<input id = 'clickdata' name='clickdata' value='0' style='display:none'>
			<input id = 'totaltime' name='totaltime' value='0' style='display:none'>						
			<br>
			<script src="{{ url_for('static', filename='js/task4_ajax_q.js') }}"></script>
			<button id = "sortButton" onmousedown = "sort()">Sort</button>
			<button id = "unsortButton" onmousedown = "unsort()">Unsort</button>
		<!--p id = "statement">Problem Statement</p-->
		
		<svg width="1200" height="600" id = "visualization1"></svg>
		<script src="{{ url_for('static', filename='js/task4.js') }}"></script>

		
	</div>
	<form action="{{ url_for('progress4') }}" method = "post">
	<div id = "msglog" onmousedown="mouseDown()" >
		<p id = 'logMsg'>Re-order columns and rows by click and drag-and-drop such that 'Texas' and 'Utah' are next to one another.</p>
		<button id = "submit" type = "submit" >Next</button>
	</div>
	</form>

  
  
</div>




<footer> Teach Information Visualization Yourself (TIVY) 2017
</footer>

</div>
<SCRIPT type="text/javascript">
	//window.history.forward();
	//function noBack() { window.history.forward(); }
</SCRIPT>
</body>
</html>