div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 0.5em;
    color: white;
    background-color: #1747B6;
    clear: left;
    text-align: center;
}

.nav_forward {
	position: absolute;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;	
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    left: 7.5%;
} 

.nav_backward {
	position: absolute;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;	
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    left: 5%;
} 

nav {
    float: right;
    max-width: 200px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 25px;
    border-left: 0px solid gray;
    padding: 1em;
    overflow: hidden;
}

#viewpanel {
    margin-left: 25px;
    border-left: 0px solid gray;
    padding: 1em;
    overflow: hidden;
}
.Title1 {
	font-size: 150%;
	font-weight: 900;
	margin-left: 20px;
	margin-right: 20px;
}
.Title2 {
	font-family:  "PT Serif", serif;
	font-size: 125%;
	margin-left: 20px;
	margin-right: 20px;
}
.Title3 {
	font-family:  "PT Serif", serif;
	font-size: 100%;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.Title4 {
	font-size: 100%;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.boldFont {
	font-weight: 900;
}

#problem {
	font-size: 100%;
	margin-left: 20px;
	margin-right: 20px;
}

.vizContainer {
	float: left;
	width: 1200px;
	padding: 0px;
	border: 1px solid gray;
}

#msglog {
	float: left;
	width: 300px;
	padding: 20px;
	border: 1px solid gray;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#logMsg {
    display: block;
    color: 	#008B8B;
    font-weight: 900;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1.25em;
    margin-right: 0;
}

#options {
	float: left;
	width: 200px;
	padding: 10px;
	border: 1px solid gray;
	margin-left:20px;
}

#submit {
	margin-left: 10px;
}

#statement {
	margin-left: 20px;
}

#illicitdata {
	float: left;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.check_mark img {
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	display: block;
}
