<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">

<header>
   <h2>Matrix Visualization Tutorials</h2>
</header>
  
<!--article>
  <h1>London</h1>
  <p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
  <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
</article-->

<div id = "viewpanel" >
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<form action="{{ url_for('progress_mat4') }}" method = "post">
		
	
	<div id = "viz1" class='vizContainer' >
		<!--h1 id = "problem">Step: ({{ session['current'] + 1}} out of 5)</h1-->
		<!--svg width="1200" height="600" id = "visualization1"></svg-->
			<p class = "Title1">Common Friend and Path</p>
			<ul >
				<!--p class = "Title3">Within a network, a subset of members can form a cliques if each subset
					member has relationships with all the other subset members. Below are a node-link diagram
					and a matrix visualization of a network of seven people. Four members (Mary, Sue, Nathan,
					and Kevin) are highlighted in yellow and their subset matrix is shown in the blue box.
				</p-->
				
				<p class = "Title3">When two network members are connected to one same member, this member becomes
					a common friend. Take a look at the node-link diagram on the left side of Fig. 1. Nathan is 
					friends with both Joe and Sue and thus he is a common friend between Joe and Sue. In the matrix
					visualization on the right side, Sue and Joe's rows/columns are highlighted. It may be difficult
					to find the common friend from the matrix visualization at first glance,
					but the matrix visulization tells us who the members' friends are. Joe is friends with
					Nathan while Sue is friends with Mary, Nathan, Kevin and Colin. And from this, one can find
					Nathan is the common friend between Joe and Sue.
					</p>
			<svg width='1200' height='425' id = 'visualization'></svg>
			<p class = 'Title3' style='text-align:center'>Fig. 1. The node-link diagram and the matrix visualization
				representing a network of seven members. Philip and Nathan have a common friend, Kevin. The friendship
				between Joe and Nathan (Red) and that between Nathan and Sue (Blue) are shown.</p>
			<!--script src = "{{ url_for('static', filename='js/task1.js') }}"></script-->
			
			<script>
				var w_cell = 45;
				var h_cell = 45;
				var names2 = ['Row 1', 'Row 2', 'Row 3', 'Row 4', 'Row 5'];
				var names1 = ['Column 1', 'Column 2', 'Column 3', 'Column 4', 'Column 5'];

				var names_2 = ['Mary', 'Sue', 'Nathan', 'Kevin', 'Philip','Joe','Colin'];
				var names_1 = names_2;//['Mary', 'Sue', 'Nathan', 'Kevin', 'Philip'];
				
				var data = [[0, 1, 1, 1, 0, 0, 0], 
							[1, 0, 1, 1, 0, 0, 1], 
							[1, 1, 0, 1, 0, 1, 0], 
							[1, 1, 1, 0, 1, 0, 1], 
							[0, 0, 0, 1, 0, 0, 1],
							[0, 0, 1, 0, 0, 0, 0],
							[0, 1, 0, 1, 1, 0, 0]]; 
				
				var svg = d3.select('#visualization')
						.append('g').attr('class', 'canvas').attr('transform', 'translate(600,20)');

				var canvas = d3.select('#visualization');

				var names = names_2;//['Mary', 'Sue', 'Nathan', 'Kevin', 'Philip'];
					 	
				// draw node-link diagram
				var r = 150;
				var mid_x = 320;
				var mid_y = 230;
				var dim = names_2.length; 
				var phi = Math.PI*2/dim;
				var p_x = [];
				var p_y = [];
				for (var i = 0; i < dim; i++){
					p_x[i] = mid_x + r*Math.cos(phi*i);
					p_y[i] = mid_y + r*Math.sin(phi*i);
					canvas.append('circle')
						.attr('r', 2)
						.attr('style', 'fill: black')
						.attr('cx', p_x[i])
						.attr('cy', p_y[i]);
				}
				/*var mat = [[0,0,1,1,0], 
							[0,0,1,0,1], 
							[1,1,0,0,0], 
							[1,0,0,0,1], 
							[0,1,0,1,0]];*/
				var mat = data;
				for (var i = 0; i < mat.length; i++){
					for (var j = 0; j < mat.length; j++){
						if (mat[i][j] == 1){
							canvas.append('line')
								.attr('id', 'line' + i+'_'+j)
								.attr('class','links')
								.attr('x1', p_x[i]).attr('y1', p_y[i])
								.attr('x2', p_x[j]).attr('y2', p_y[j])
								.attr('style', function(){
									//var ind1 = relations[sequence][0];
									//var ind2 = relations[sequence][1];
									//if ((i == ind1 && j == ind2) || (i == ind2 && j == ind1)){
										//return 'stroke: ' + colors[sequence] + '; stroke-width: 4px;';
									//} else {
										return 'stroke: black; stroke-width: 4px;';
									//}
									
								});
						}
					}
				}
				canvas.append('line')
					.attr('x1', p_x[5]).attr('y1', p_y[5])
					.attr('x2', p_x[2]).attr('y2', p_y[2])
					.attr('style', 'stroke: red; stroke-width: 4px;');				


				
				var rx = 35;
				var ry = 35;							
				for (var i = 0; i < dim; i++){
					p_x[i] = mid_x + r*Math.cos(phi*i);
					p_y[i] = mid_y + r*Math.sin(phi*i);
					canvas.append('ellipse').attr('class', 'nodeLabel')
						.attr('id', 'nodeLabel_'+i)
						.attr('rx', rx)
						.attr('ry', ry)
						.attr('style', function(){
							var str;
							if (i == 1){
								return 'stroke: black; stroke-width: 2;fill: white';
							}
							else {
								return 'stroke: black; stroke-width: 2;fill: white';
							}
						})
						.attr('cx', p_x[i])
						.attr('cy', p_y[i]);
				}
				
				// highlight nodes 
				var sty = 'stroke: black; stroke-width: 2;fill: #FFFF66; opacity: 1';
				var sty2 = 'stroke: black; stroke-width: 2;fill: white; opacity: 1'
				//d3.select('#nodeLabel_0')
				//	.attr('style', sty);				
				//d3.select('#nodeLabel_1')
				//	.attr('style', sty);
				d3.select('#nodeLabel_1')
					.attr('style', sty);
				d3.select('#nodeLabel_5')
					.attr('style', sty);
				d3.select('#nodeLabel_3')
					.attr('style', sty2);
				
				// highlight lines
				//d3.select('#line2_3')
				//	.attr('style', 'stroke: blue; stroke-width: 4px; stroke-dasharray: 5 5');		
				d3.select('#line2_1')
					.attr('style', 'stroke: blue; stroke-width: 4px;');
				//canvas.append('line')
				//	.attr('x1', p_x[5]).attr('y1', p_y[5])
				//	.attr('x2', p_x[2]).attr('y2', p_y[2])
				//	.attr('style', 'stroke: red; stroke-width: 4px;');
				//d3.select('#line5_2')
				//	.attr('style', 'stroke: red; stroke-width: 4px;');		
				//d3.select('#line3_4')
				//	.attr('style', 'stroke: red; stroke-width: 4px; stroke-dasharray: 5 5');	
															
				for (var i = 0; i < dim; i++){
					p_x[i] = mid_x + r*Math.cos(phi*i);
					p_y[i] = mid_y + r*Math.sin(phi*i);
					canvas.append('text').attr('class', 'nodeLabel')
						.attr('id', 'nodeLabel' + i)
						//.attr('r', 2)
						.attr('style', function(){
							if (i == 1){
								return 'fill: black; font-size: 14; text-anchor: middle';
							} else {
								return 'fill: black; font-size: 14; text-anchor: middle';
							}
							
						})
						.attr('x', p_x[i])
						.attr('y', p_y[i]+12/2)
						.text(names[i]);
				}
					var style = 'stroke: black; stroke-width: 1;fill: #FFFF66; opacity: 1';
					
					// create highlights
					/*svg.append('rect')
						.attr('x', w_cell*(-1))
						.attr('y', w_cell*1)
						.attr('width', w_cell*(dim+2))
						.attr('height', w_cell)
						.attr('style', style);
					svg.append('rect')
						.attr('x', w_cell*(-1))
						.attr('y', w_cell*2)
						.attr('width', w_cell*(dim+2))
						.attr('height', w_cell)
						.attr('style', style);	*/
					svg.append('rect')
						.attr('x', w_cell*(1))
						.attr('y', w_cell*2)
						.attr('width', w_cell*(dim))
						.attr('height', w_cell)
						.attr('style', style);							
					svg.append('rect')
						.attr('x', w_cell*(1))
						.attr('y', w_cell*6)
						.attr('width', w_cell*(dim))
						.attr('height', w_cell)
						.attr('style', style);



					/*svg.append('rect')
						.attr('x', w_cell*1)
						.attr('y', w_cell*0)
						.attr('width', w_cell)
						.attr('height', w_cell*(dim+1))
						.attr('style', style);
					svg.append('rect')
						.attr('x', w_cell*2)
						.attr('y', w_cell*0)
						.attr('width', w_cell)
						.attr('height', w_cell*(dim+1))
						.attr('style', style);*/	
					svg.append('rect')
						.attr('x', w_cell*2)
						.attr('y', w_cell*(1))
						.attr('width', w_cell)
						.attr('height', w_cell*(dim))
						.attr('style', style);
					svg.append('rect')
						.attr('x', w_cell*6)
						.attr('y', w_cell*1)
						.attr('width', w_cell)
						.attr('height', w_cell*(dim))
						.attr('style', style);	

				for (var i = 0; i < dim; i++){
					for (var j = 0; j < dim; j++){
						svg.append('rect').attr('class', 'cell')
							.attr('id', 'cell(' + i + ',' + j +')')
							.attr('width', w_cell).attr('height', h_cell)
							.attr('x', w_cell*(i+1))
							.attr('y', h_cell*(j+1))
							.attr('style', function(){
								var str, str2;
								if (data[i][j] == '1'){
									str = 'black';//'gray';
									str2 = 'black';
								}
								else {
									str = 'white';
									str2 = 'black';
								} 
									
								return 'stroke: ' + str2 + '; stroke-width: 2; opacity: 0.5; fill:' + str;
							});
							
						// highlight column labels	
						if (i == 1 || i == 5)	
						svg.append('rect')
							.attr('transform', function(){
							var x = 1*w_cell*(i+1)-w_cell*1/10;
							var y = h_cell*7/10;
							return 'translate(' + x + ',' + y + ')rotate(-45)';
						})
							.attr('width', 30)
							.attr('height', 13)
							.attr('style', 'fill: #FFFF66; opacity: 0.5');							
							
						svg.append('text').attr('class', 'noselect')
							//.attr('id', 'columnLabelText' + i)
						//.attr('x', w_cell*(i+1)+w_cell*1/10).attr('y', h_cell*(9)/10)
							.attr('transform', function(){
							var x = 1*w_cell*(i+1)+w_cell*1/10;
							var y = h_cell*9/10;
							return 'translate(' + x + ',' + y + ')rotate(-45)';
						}).text(function(){return names_1[i];});		

						// highlight row labels
						if (i == 1 || i == 5)	
						svg.append('rect')
							.attr('transform', function(){
								var x = w_cell*0/10-20;
								var y = 1*h_cell*(i+1) + 1/2*h_cell - 1/5*h_cell;
								return 'translate(' + x + ',' + y + ')';
							})
							.attr('width', 30)
							.attr('height', 13)
							.attr('style', 'fill: #FFFF66; opacity: 0.5');
							
							
							
						svg.append('text').attr('class', 'noselect')
							//.attr('id', 'rowLabelText' + i)
						//.attr('x', w_cell*(i+1)+w_cell*1/10).attr('y', h_cell*(9)/10)
							.attr('transform', function(){
								var x = w_cell*0/10-20;
								var y = 1*h_cell*(i+1) + 1/2*h_cell;
								return 'translate(' + x + ',' + y + ')';
							})
							.text(function(){return names_2[i];});								
											
						}

					}
			

	
					// Blue boxes
					var g_style = 'stroke: blue; stroke-width: 4; fill: none; stroke-dasharray: 5 3; opacity: 1';
					svg.append('rect')
						.attr('x', w_cell*3)
						.attr('y', w_cell*2)
						.attr('width', w_cell*1)
						.attr('height', w_cell*1)
						.attr('style', g_style);
					svg.append('rect')
						.attr('x', w_cell*2)
						.attr('y', w_cell*3)
						.attr('width', w_cell*1)
						.attr('height', w_cell*1)
						.attr('style', g_style);						
					/*svg.append('rect')
						.attr('x', w_cell*4)
						.attr('y', w_cell*4)
						.attr('width', w_cell*2)
						.attr('height', w_cell*2)
						.attr('style', g_style);

					svg.append('rect')
						.attr('x', w_cell*7)
						.attr('y', w_cell*4)
						.attr('width', w_cell*1)
						.attr('height', w_cell*2)
						.attr('style', g_style);

					svg.append('rect')
						.attr('x', w_cell*4)
						.attr('y', w_cell*7)
						.attr('width', w_cell*2)
						.attr('height', w_cell*1)
						.attr('style', g_style);

					svg.append('rect')
						.attr('x', w_cell*7)
						.attr('y', w_cell*7)
						.attr('width', w_cell*1)
						.attr('height', w_cell*1)
						.attr('style', g_style);*/
						
					// Red boxes
					var g_style = 'stroke: red; stroke-width: 4; stroke-dasharray: 5 3; fill: none; opacity: 1';
					svg.append('rect')
						.attr('x', w_cell*6)
						.attr('y', w_cell*3)
						.attr('width', w_cell*1)
						.attr('height', w_cell*1)
						.attr('style', g_style);
					svg.append('rect')
						.attr('x', w_cell*3)
						.attr('y', w_cell*6)
						.attr('width', w_cell*1)
						.attr('height', w_cell*1)
						.attr('style', g_style);							
						
			</script>
				<!--p class="Title3">In this network, Mary, Sue, Nathan and Kevin fomm a clique because each subset
					member is friends with all other subset members. Sometimes it becomes difficult to find
					cliques in matrix visualizations when clique members are not ordered next to one another. So
					it is useful to reorder matrix columns and rows to find a clique.</p-->
				<p class="Title3">Next, consider a situation where a network member interacts with another 
					member who is not directly connected to him or her via other network members. For instance, 
					Joe gives his friend Nathan a fun comic book. Having finished readng it, Nathan gives the
					comic book to Sue, and she passes it on to her friend Colin. Although Joe did not give
					the comic book to Colin, it ended up in Colin's possession indirectly. Such indirect
					interaction between two members via other members is considered a "network path."</p>	
				
				<!--li class = "Title2">The highlighted cell in the chart belongs to both Row 3 and Column 2. 
					This cell can thus be represented as (Row 3, Column 2).</li-->
					
					

			<svg width='1200' height='425' id = 'visualization2'></svg>
			<p class = 'Title3' style='text-align:center'>Fig. 2. The node-link diagram and the matrix visualization
				showing a network path between Joe and Colin. </p>
			<p class = 'Title3'>In the node-link diagram, finding a path between two nodes maybe as easy as looking 
				for possible ways to hop onto neighboring nodes to reach the destination. It is not difficult to see that
				the connections of Joe-Nathan-Sue-Colin form a path as shown in Fig. 2. The partially highlighted
				matrix visualization on the right shows one strategy to find such path. In Joe's row, you find that
				Nathan is Joe's friend. Then you look at Nathan's column and find that Sue is Nathan's friend. And 
				you can see from Sue's row that
				Colin is Sue's friend, thus finding a network path between Joe and Sue. </p>
				
				<!--In the matrix visualization, 
				you can start from the row or column of the first member. In the example, Joe's row is highlighted. Once
				you have found a friend in the first member's network (Nathan), then you can move on to the second
				member's column. Then, you can pick a friend form the second person's (Nathan's) column. Now, you can
				go on to look at the third one's row and continue the search. In the example above, Nathan's friend 
				</p-->
			<!--script src = "{{ url_for('static', filename='js/task1.js') }}"></script-->
			
			<script>
				var w_cell = 45;
				var h_cell = 45;
				var names2 = ['Row 1', 'Row 2', 'Row 3', 'Row 4', 'Row 5'];
				var names1 = ['Column 1', 'Column 2', 'Column 3', 'Column 4', 'Column 5'];

				var names_2 = ['Mary', 'Sue', 'Nathan', 'Kevin', 'Philip','Joe','Colin'];
				var names_1 = names_2;//['Mary', 'Sue', 'Nathan', 'Kevin', 'Philip'];
				
				var data = [[0, 1, 1, 1, 0, 0, 0], 
							[1, 0, 1, 1, 0, 0, 1], 
							[1, 1, 0, 1, 0, 1, 0], 
							[1, 1, 1, 0, 1, 0, 1], 
							[0, 0, 0, 1, 0, 0, 1],
							[0, 0, 1, 0, 0, 0, 0],
							[0, 1, 0, 1, 1, 0, 0]]; 
				
				var svg = d3.select('#visualization2')
						.append('g').attr('class', 'canvas').attr('transform', 'translate(600,20)');

				var canvas = d3.select('#visualization2');

				var names = names_2;//['Mary', 'Sue', 'Nathan', 'Kevin', 'Philip'];
					 	
				// draw node-link diagram
				var r = 150;
				var mid_x = 320;
				var mid_y = 230;
				var dim = names_2.length; 
				var phi = Math.PI*2/dim;
				var p_x = [];
				var p_y = [];
				for (var i = 0; i < dim; i++){
					p_x[i] = mid_x + r*Math.cos(phi*i);
					p_y[i] = mid_y + r*Math.sin(phi*i);
					canvas.append('circle')
						.attr('r', 2)
						.attr('style', 'fill: black')
						.attr('cx', p_x[i])
						.attr('cy', p_y[i]);
				}
				/*var mat = [[0,0,1,1,0], 
							[0,0,1,0,1], 
							[1,1,0,0,0], 
							[1,0,0,0,1], 
							[0,1,0,1,0]];*/
				var mat = data;
				for (var i = 0; i < mat.length; i++){
					for (var j = 0; j < mat.length; j++){
						if (mat[i][j] == 1){
							canvas.append('line')
								.attr('id', 'line' + i+'-'+j)
								.attr('class','links')
								.attr('x1', p_x[i]).attr('y1', p_y[i])
								.attr('x2', p_x[j]).attr('y2', p_y[j])
								.attr('style', function(){
									//var ind1 = relations[sequence][0];
									//var ind2 = relations[sequence][1];
									//if ((i == ind1 && j == ind2) || (i == ind2 && j == ind1)){
										//return 'stroke: ' + colors[sequence] + '; stroke-width: 4px;';
									//} else {
										return 'stroke: black; stroke-width: 4px;';
									//}
									
								});
						}
					}
				}
				canvas.append('line')
					.attr('x1', p_x[5]).attr('y1', p_y[5])
					.attr('x2', p_x[2]).attr('y2', p_y[2])
					.attr('style', 'stroke: red; stroke-width: 4px;');				
				canvas.append('line')
					.attr('x1', p_x[2]).attr('y1', p_y[2])
					.attr('x2', p_x[1]).attr('y2', p_y[1])
					.attr('style', 'stroke: blue; stroke-width: 4px;');	
				canvas.append('line')
					.attr('x1', p_x[1]).attr('y1', p_y[1])
					.attr('x2', p_x[6]).attr('y2', p_y[6])
					.attr('style', 'stroke: magenta; stroke-width: 4px;');										
				var rx = 35;
				var ry = 35;							
				for (var i = 0; i < dim; i++){
					p_x[i] = mid_x + r*Math.cos(phi*i);
					p_y[i] = mid_y + r*Math.sin(phi*i);
					canvas.append('ellipse').attr('class', 'nodeLabel')
						.attr('id', 'nodeLabel-'+i)
						.attr('rx', rx)
						.attr('ry', ry)
						.attr('style', function(){
							var str;
							if (i == 1){
								return 'stroke: black; stroke-width: 2;fill: white';
							}
							else {
								return 'stroke: black; stroke-width: 2;fill: white';
							}
						})
						.attr('cx', p_x[i])
						.attr('cy', p_y[i]);
				}
				
				// highlight nodes 
				var sty = 'stroke: black; stroke-width: 2;fill: #FFFF66; opacity: 1';
				var sty2 = 'stroke: black; stroke-width: 2;fill: white; opacity: 1'
				//d3.select('#nodeLabel_0')
				//	.attr('style', sty);				
				//d3.select('#nodeLabel_1')
				//	.attr('style', sty);
				d3.select('#nodeLabel-5')
					.attr('style', sty);
				d3.select('#nodeLabel-6')
					.attr('style', sty);
				//d3.select('#nodeLabel-6')
				//	.attr('style', sty2);
				
				// highlight lines
				//d3.select('#line2_3')
				//	.attr('style', 'stroke: blue; stroke-width: 4px; stroke-dasharray: 5 5');		
				d3.select('#line2_1')
					.attr('style', 'stroke: blue; stroke-width: 4px;');
				//canvas.append('line')
				//	.attr('x1', p_x[5]).attr('y1', p_y[5])
				//	.attr('x2', p_x[2]).attr('y2', p_y[2])
				//	.attr('style', 'stroke: red; stroke-width: 4px;');
				//d3.select('#line5_2')
				//	.attr('style', 'stroke: red; stroke-width: 4px;');		
				//d3.select('#line3_4')
				//	.attr('style', 'stroke: red; stroke-width: 4px; stroke-dasharray: 5 5');	
															
				for (var i = 0; i < dim; i++){
					p_x[i] = mid_x + r*Math.cos(phi*i);
					p_y[i] = mid_y + r*Math.sin(phi*i);
					canvas.append('text').attr('class', 'nodeLabel')
						.attr('id', 'nodeLabel' + i)
						//.attr('r', 2)
						.attr('style', function(){
							if (i == 1){
								return 'fill: black; font-size: 14; text-anchor: middle';
							} else {
								return 'fill: black; font-size: 14; text-anchor: middle';
							}
							
						})
						.attr('x', p_x[i])
						.attr('y', p_y[i]+12/2)
						.text(names[i]);
				}
					var style = 'stroke: black; stroke-width: 1;fill: #FFFF66; opacity: 1';
					
					// create highlights
					/*svg.append('rect')
						.attr('x', w_cell*(-1))
						.attr('y', w_cell*1)
						.attr('width', w_cell*(dim+2))
						.attr('height', w_cell)
						.attr('style', style);
					svg.append('rect')
						.attr('x', w_cell*(-1))
						.attr('y', w_cell*2)
						.attr('width', w_cell*(dim+2))
						.attr('height', w_cell)
						.attr('style', style);	*/
					/*svg.append('rect')
						.attr('x', w_cell*(1))	
						.attr('y', w_cell*2)
						.attr('width', w_cell*(dim))
						.attr('height', w_cell)
						.attr('style', style);*/							
					svg.append('rect')
						.attr('x', w_cell*(1))
						.attr('y', w_cell*6)
						.attr('width', w_cell*(dim))
						.attr('height', w_cell)
						.attr('style', style);
					svg.append('rect')
						.attr('x', w_cell*3)
						.attr('y', w_cell*(1))
						.attr('width', w_cell)
						.attr('height', w_cell*(dim))
						.attr('style', style);		
					svg.append('rect')
						.attr('x', w_cell*(1))	
						.attr('y', w_cell*2)
						.attr('width', w_cell*(dim))
						.attr('height', w_cell)
						.attr('style', style);										
					/*svg.append('rect')
						.attr('x', w_cell*(1))
						.attr('y', w_cell*7)
						.attr('width', w_cell*(dim))
						.attr('height', w_cell)
						.attr('style', style);*/


					/*svg.append('rect')
						.attr('x', w_cell*1)
						.attr('y', w_cell*0)
						.attr('width', w_cell)
						.attr('height', w_cell*(dim+1))
						.attr('style', style);
					svg.append('rect')
						.attr('x', w_cell*2)
						.attr('y', w_cell*0)
						.attr('width', w_cell)
						.attr('height', w_cell*(dim+1))
						.attr('style', style);*/	
					/*svg.append('rect')
						.attr('x', w_cell*2)
						.attr('y', w_cell*(1))
						.attr('width', w_cell)
						.attr('height', w_cell*(dim))
						.attr('style', style);
					svg.append('rect')
						.attr('x', w_cell*6)
						.attr('y', w_cell*1)
						.attr('width', w_cell)
						.attr('height', w_cell*(dim))
						.attr('style', style);*/	

				for (var i = 0; i < dim; i++){
					for (var j = 0; j < dim; j++){
						svg.append('rect').attr('class', 'cell')
							.attr('id', 'cell(' + i + ',' + j +')')
							.attr('width', w_cell).attr('height', h_cell)
							.attr('x', w_cell*(i+1))
							.attr('y', h_cell*(j+1))
							.attr('style', function(){
								var str, str2;
								if (data[i][j] == '1'){
									str = 'black';//'gray';
									str2 = 'black';
								}
								else {
									str = 'white';
									str2 = 'black';
								} 
									
								return 'stroke: ' + str2 + '; stroke-width: 2; opacity: 0.5; fill:' + str;
							});
							
						// highlight column labels	
						if (i == 2 || i == 6)	
						svg.append('rect')
							.attr('transform', function(){
							var x = 1*w_cell*(i+1)-w_cell*1/10;
							var y = h_cell*7/10;
							return 'translate(' + x + ',' + y + ')rotate(-45)';
						})
							.attr('width', 42)
							.attr('height', 13)
							.attr('style', 'fill: #FFFF66; opacity: 0.5');							
							
						svg.append('text').attr('class', 'noselect')
							//.attr('id', 'columnLabelText' + i)
						//.attr('x', w_cell*(i+1)+w_cell*1/10).attr('y', h_cell*(9)/10)
							.attr('transform', function(){
							var x = 1*w_cell*(i+1)+w_cell*1/10;
							var y = h_cell*9/10;
							return 'translate(' + x + ',' + y + ')rotate(-45)';
						}).text(function(){return names_1[i];});		

						// highlight row labels
						if (i == 1 || i == 5)	
						svg.append('rect')
							.attr('transform', function(){
								var x = w_cell*0/10-20;
								var y = 1*h_cell*(i+1) + 1/2*h_cell - 1/5*h_cell;
								return 'translate(' + x + ',' + y + ')';
							})
							.attr('width', 30)
							.attr('height', 13)
							.attr('style', 'fill: #FFFF66; opacity: 0.5');
							
							
							
						svg.append('text').attr('class', 'noselect')
							//.attr('id', 'rowLabelText' + i)
						//.attr('x', w_cell*(i+1)+w_cell*1/10).attr('y', h_cell*(9)/10)
							.attr('transform', function(){
								var x = w_cell*0/10-20;
								var y = 1*h_cell*(i+1) + 1/2*h_cell;
								return 'translate(' + x + ',' + y + ')';
							})
							.text(function(){return names_2[i];});								
											
						}

					}
			

	
					// Blue boxes
					var g_style = 'stroke: blue; stroke-width: 4; fill: none; stroke-dasharray: 5 3; opacity: 1';
					/*svg.append('rect')
						.attr('x', w_cell*3)
						.attr('y', w_cell*2)
						.attr('width', w_cell*1)
						.attr('height', w_cell*1)
						.attr('style', g_style);
					svg.append('rect')
						.attr('x', w_cell*2)
						.attr('y', w_cell*3)
						.attr('width', w_cell*1)
						.attr('height', w_cell*1)
						.attr('style', g_style);*/						
					/*svg.append('rect')
						.attr('x', w_cell*4)
						.attr('y', w_cell*4)
						.attr('width', w_cell*2)
						.attr('height', w_cell*2)
						.attr('style', g_style);

					svg.append('rect')
						.attr('x', w_cell*7)
						.attr('y', w_cell*4)
						.attr('width', w_cell*1)
						.attr('height', w_cell*2)
						.attr('style', g_style);

					svg.append('rect')
						.attr('x', w_cell*4)
						.attr('y', w_cell*7)
						.attr('width', w_cell*2)
						.attr('height', w_cell*1)
						.attr('style', g_style);

					svg.append('rect')
						.attr('x', w_cell*7)
						.attr('y', w_cell*7)
						.attr('width', w_cell*1)
						.attr('height', w_cell*1)
						.attr('style', g_style);*/
						
					// Red boxes
					var g_style = 'stroke: red; stroke-width: 4; stroke-dasharray: 5 3; fill: none; opacity: 1';
					var g_style2 = 'stroke: blue; stroke-width: 4; stroke-dasharray: 5 3; fill: none; opacity: 1';
					var g_style3 = 'stroke: magenta; stroke-width: 4; stroke-dasharray: 5 3; fill: none; opacity: 1';
					svg.append('rect')
						.attr('x', w_cell*7)
						.attr('y', w_cell*2)
						.attr('width', w_cell*1)
						.attr('height', w_cell*1)
						.attr('style', g_style3);
					svg.append('rect')
						.attr('x', w_cell*3)
						.attr('y', w_cell*2)
						.attr('width', w_cell*1)
						.attr('height', w_cell*1)
						.attr('style', g_style2);							
					svg.append('rect')
						.attr('x', w_cell*3)
						.attr('y', w_cell*6)
						.attr('width', w_cell*1)
						.attr('height', w_cell*1)
						.attr('style', g_style);							
			</script>
					
					
					
			</ul>
			

			
			
			<!--p id = 'logMsg'>Please read the information below before proceed.</p-->
			<!--button id = "submit" class = 'nav_backward' type = "submit" >Previous</button-->	
			<button id = "submit" class = 'nav_forward' type = "submit" >Next</button>		
			<br>
			
			
			<br>
			<br>
			<input id = 'clickdata' name='clickdata' value='0' style='display:none'>
			<input id = 'totaltime' name='totaltime' value='0' style='display:none'>		
			<br>
			<!--script src="{{ url_for('static', filename='js/task1_ajax_q.js') }}"></script-->		
			
		<!--p id = "statement">Problem Statement</p-->
		
		
		<!--script src="{{ url_for('static', filename='js/task1.js') }}"></script-->
		
	</div>
	<!--div id = "msglog" onmousedown="mouseDown()" >
		
		
	</div-->
	</form>

  
  
</div>




<footer> Teach Information Visualization Yourself (TIVY) 2017
</footer>

</div>
<SCRIPT type="text/javascript">
	//window.history.forward();
	//function noBack() { window.history.forward(); }
</SCRIPT>
</body>
</html>
