<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">

<header>
   <h2>Matrix Visualization Tutorials</h2>
</header>
  
<!--article>
  <h1>London</h1>
  <p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
  <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
</article-->

<div id = "viewpanel" >
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<form action="{{ url_for('progress') }}" method = "post">
		
	
	<div id = "viz1" class='vizContainer' onmousedown="mouseDown()" >
		<h1 id = "problem">Step: ({{ session['current'] + 1}} out of 5)</h1>
		<!--svg width="1200" height="600" id = "visualization1"></svg-->
			<p class = "Title1">Welcome page</p>
			<ol >
				<li class = "Title2">This page will contain welcome messages, terms of agreement, and instructions.
					<!--ul>
						<li class = "Title3">An item (vertex) is often called node.</li>
						<li class = "Title3">A link (edge) is a relation between two items.</li>
					</ul-->
				</li>
				<!--li class = "Title2">In Facebook, an example of networks with 3 nodes and 2 links:
					<ul>
						<li class = "Title3">John and Mary are friends.</li>
						<li class = "Title3">Mary and Tom are friends.</li>
						<li class = "Title3"><span style="font-weight:900">Three Nodes:</span> John, Mary, Tom.</li>
						<li class = "Title3"><span style="font-weight:900">Two Links:</span> John – Mary, Mary – Tom</li>
					</ul>
				</li-->
			</ol>
			<!--p id = 'logMsg'>Please read the information below before proceed.</p-->
			<!--button id = "submit" class = 'nav_backward' type = "submit" >Previous</button-->	
			<button id = "submit" class = 'nav_forward' type = "submit" >Next</button>		
			<br>
			
			
			<br>
			<br>
			<input id = 'clickdata' name='clickdata' value='0' style='display:none'>
			<input id = 'totaltime' name='totaltime' value='0' style='display:none'>		
			<br>
			<!--script src="{{ url_for('static', filename='js/task1_ajax_q.js') }}"></script-->		
			
		<!--p id = "statement">Problem Statement</p-->
		
		
		<!--script src="{{ url_for('static', filename='js/task1.js') }}"></script-->
		
	</div>
	<!--div id = "msglog" onmousedown="mouseDown()" >
		
		
	</div-->
	</form>

  
  
</div>




<footer> Teach Information Visualization Yourself (TIVY) 2017
</footer>

</div>
<SCRIPT type="text/javascript">
	//window.history.forward();
	//function noBack() { window.history.forward(); }
</SCRIPT>
</body>
</html>
